
.contact-layout {
    margin-top: 35px;
    height: 100%;
    display: flex;
    justify-content: space-between;    
    
}

.contact-layout>.column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.right-col {
    width: 122px;
}

.right-col > a.big-button {
    width: 122px;
    height: 36px;    
    background-image: url("images/side_menu_sprite-Hilel.png");
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.big-button>span {
    margin-right:20px; 
}

.big-button> {
    color: black;
}


.right-col>.big-button:hover {
    color:blue;
    text-decoration-line: underline;
}

.mid-col {
    justify-content: flex-start;
    width: 440px;
}

.mid-col> .home-link {
    font-size: 13px;
    color: black;
}


.home-link > a:hover {
    color : blue;
}

.mid-col>.title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    color:  rgb(64, 64, 64);
    padding-bottom: 3px;
    border-bottom: 1px solid #cbcbcb;
}


.left-col {
    width: 292px;
    background: yellowgreen;
}