/* footer css */
footer{
    position: fixed;
    bottom: 0;
    height: 38px;
    width: 100%;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to top, rgb(144, 144, 144),rgb(167,167,167));
}

/* footer menu css */

ul.footer-menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 0px;
}

ul.footer-menu a {
    /*remove under-score from 'a' tags*/
    text-decoration: none;
    color: white;
    font-size: 14px;
    white-space: nowrap;
}


ul.footer-menu > li:last-child>a {
    color: red;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: #005CA0;
}

.fb_icon{
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
}

.fm-sep {
    color: white;
    margin: 0px 5px 0px 5px;
}