/* footer css */
footer{
    position: fixed;
    bottom: 0;
    height: 38px;
    width: 100%;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to top, rgb(144, 144, 144),rgb(167,167,167));
}

/* footer menu css */

ul.footer-menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 0px;
    padding-top: 8px;
}

ul.footer-menu a {
    font-size: 14px;
}


ul.footer-menu > li:last-child>a {
    color: red;
}


.fb_icon{
    width: fit-content;
    height: fit-content;
}

.fm-sep {
    color: white;
    margin: 0px 5px 0px 5px;
}