* {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
    /* border: solid 1px black;      */
}


.content {
    width: 900px;
    height: 100%;
    display: flex;    
    flex-direction: column;    
    justify-content: space-between;
}


/* header css */
header {
    height: 105px;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to bottom, rgb(144, 144, 144) 85%, rgb(180,180,180));
    display: flex;
    flex-direction: column;
}

/* top header box contains the search box and the lang label */
.top-header {
    display: flex;
    height: 50%;
    justify-content: flex-end; 
    align-items: center;
}

.lang-label {
    margin-left: 20px;
}

.lang-label>a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.search-box{
    display: flex;
    align-items: center;
    border-radius: 0px 50px 0px 0px;   
}

.search-box > .text-field {
    position: relative;
    height: 19px;
}

.text-field > input {
    position: absolute; /*to cover the search image*/
    right: 5px;
    top: 2px;
    height: 14px;
    width: 126px;
}

.search-box > .search-icon{
    width: 19px;
    height: 19px;
}

/* End of top header box CSS */

/* bottom-header CSS */

.bottom-header {
    display: flex;
    align-items: flex-end;
    height: 50%;
    /* align-items: center; */
}

.logo {
    position: relative;
    width: 142px;
    height: 43px;
    right: -8px;
    top: -30px;    
}

.home-button {
    position: relative;
    width: 17px;
    height: 33px;
    overflow: hidden;
 }


/* bottom-header CSS */

/* main css */

main{
    height: 619px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.top-imgs{
    height: 355px;
    margin-top: 30px;
    background-color: yellow;
    display: flex;
}

.top-imgs >p{
    margin: auto;
}


.bottom-imgs {
    margin-top: 18px;
    height: 216px;
    background-color: lightpink;
    display: flex;
}

.bottom-imgs >p{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

footer{
    position: fixed;
    bottom: 0;
    height: 38px;
    width: 100%;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to top, rgb(144, 144, 144),rgb(167,167,167));
}


