body {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
}


/* header css */
header {
    width: 100%;
    height: 105px;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to bottom, rgb(144, 144, 144) 85%, rgb(180,180,180));
}


header>.content{
    position: relative;
}

header div.search-box{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 152px;
    height: 19px;
}

.search-box> a> img.search-icon{
    position: absolute;
    left: 0px;    
}
.search-box> img.search-input {
    border-radius: 0px 50px 0px 0x;
}

.search-box>input {
    position: absolute;
    top: 3px; 
    right: 2px;
    padding: 0px;
    border: 0px;
    height: 14px;
    width: 126px;
}

.lang-label {
    position: absolute;
    left: 180px;
    top: 20px;
}

.lang-label>a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.logo {
    position: relative;
    top: 32px;
    right: -8px;
}

.home-button {
    position: relative;
    width: 17px;
    overflow: hidden;
    /* top: 32px; */
    right: -8px;

}

/* main css */

main{
    height: 619px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.top-imgs{
    height: 355px;
    margin-top: 30px;
    background-color: yellow;
    display: flex;
}

.top-imgs >p{
    margin: auto;
}


.bottom-imgs {
    margin-top: 18px;
    height: 216px;
    background-color: lightpink;
    display: flex;
}

.bottom-imgs >p{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

footer{
    position: fixed;
    bottom: 0;
    height: 38px;
    width: 100%;
    background-color: rgb(144, 144, 144);
    background-image: linear-gradient(to top, rgb(144, 144, 144),rgb(167,167,167));
}

.content {
    width: 900px;
}

