
/* mainMenu - CSS */

nav > ul {
    list-style: none;
    display: flex; 
    width: 100%;
    margin: 0;
    padding: 0;  
  }
  
  nav > ul > li {
    display: flex;    
  }
  
  nav > ul > li:last-child {
    margin-right: auto; 
  } 
  
  nav > ul > li > a , .dropdown-content > a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;  
    text-align: center;
  }
  
  nav > ul > li > a{
    color: yellow;
    font-size: 14px;  
  }
  
  .dropdown-content > a {
    background-color: yellow;
    color: blue;
    font-size: 12px;  
    margin-top: 5px;
  }
  
  nav > ul > li > a:hover, .dropdown-content> a:hover , .dropdown:hover  > a  {
    background-color: rgba(111, 197, 133, 0.5);;
  }
  
  nav > ul > li.active > a {
    background-color: lightseagreen;
  }
  
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: yellow;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
  }
  
  
  .dropdown:hover > .dropdown-content {
    display: initial;
    display: flex;
    flex-direction: column;
  
  }
  