/* main css */
main{
    height: 619px;
}

.top-imgs{
    height: 355px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.top-imgs > img {
    border-bottom-right-radius: 20px;

}


.bottom-imgs {
    display: flex;
    margin-top: 18px;
    height: 216px;
    background-color: lightpink;
    display: flex;
}

.bottom-imgs >p{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}
