/* main css */
main{
    height: 619px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.top-imgs{
    height: 355px;
    margin-top: 30px;
    background-color: yellow;
    display: flex;
}

.top-imgs >p{
    margin: auto;
}


.bottom-imgs {
    margin-top: 18px;
    height: 216px;
    background-color: lightpink;
    display: flex;
}

.bottom-imgs >p{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}
